@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "New Entry";
}

@model IntexProject2.Models.Burialmain
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<h1 style="text-align:center">@ViewData["Title"]</h1>
<br />

<div style="text-align:center; align-items:center">
    <label class="form-label"> Select a form to create: </label> <br/>
    <a  class="btn btn-dark" asp-controller="Home" asp-action="CreateEntry" asp-route-formId="1">Burial Main</a>
    <a class="btn btn-dark" asp-controller="Home" asp-action="CreateEntry" asp-route-formId="2">Body Analysis</a>
    <a class="btn btn-dark" asp-controller="Home" asp-action="CreateEntry" asp-route-formId="3">Textile</a>
    <br/>
    <br/>
</div>

@if ((int)ViewData["Form"] == 1)
{
<form method="post">
    <h1 class="mb-3 line"> Burial Main</h1>
    <div class="container-fluid row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label asp-for="Burialnumber" class="form-label"> Burial Number</label>
                <input asp-for="Burialnumber" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Clusternumber" class="form-label"> Cluster #</label>
                <input asp-for="Clusternumber" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Shaftnumber" class="form-label"> Shaft #</label>
                <input asp-for="Shaftnumber" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Area" class="form-label">Area</label>
                <input asp-for="Area" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Headdirection" class="form-label">Head Direction</label>
                <input asp-for="Headdirection" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Westtohead" class="form-label"> West to Head</label>
                <input asp-for="Westtohead" class="form-control" />
            </div>
            <div>
                <label asp-for="Southtohead" class="form-label"> South to Head</label>
                <input asp-for="Southtohead" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Westtofeet" class="form-label"> West to Feet</label>
                <input asp-for="Westtofeet" class="form-control" />
            </div>
            <div>
                <label asp-for="Southtofeet" class="form-label"> South to Feet</label>
                <input asp-for="Southtofeet" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Squarenorthsouth" class="form-label"> Square North South</label>
                <input asp-for="Squarenorthsouth" class="form-control" />
            </div>
            <div>
                <label asp-for="Squareeastwest" class="form-label"> Square East West</label>
                <input asp-for="Squareeastwest" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Westtohead" class="form-label"> West to Head</label>
                <input asp-for="Westtohead" class="form-control" />
            </div>
            <div>
                <label asp-for="Northsouth" class="form-label"> North South</label>
                <input asp-for="Northsouth" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Eastwest" class="form-label"> East West</label>
                <input asp-for="Eastwest" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Depth" class="form-label">Depth</label>
                <input class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Facebundles" class="form-label">Face bundles</label>
                <input asp-for="Facebundles" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Preservation" class="form-label">Preservation</label>
                <input asp-for="Preservation" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Fieldbookpage" class="form-label">Fieldbook page</label>
                <input asp-for="Fieldbookpage" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Goods" class="form-label">Goods</label>
                <input asp-for="Goods" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
                <label asp-for="Text" class="form-label">Text</label>
                <input asp-for="Text" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Wrapping" class="form-label">Wrapping</label>
                <input asp-for="Wrapping" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Adultsubadult" class="form-label">AdultsubAdult</label>
                <input asp-for="Adultsubadult" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Sex" class="form-label">Sex</label>
                <input asp-for="Sex" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Ageatdeath" class="form-label"> Age at Death</label>
                <input asp-for="Ageatdeath" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Hair" class="form-label"> Hair</label>
                <input asp-for="Hair" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Haircolor" class="form-label">Hair Color</label>
                <input asp-for="Haircolor" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Length" class="form-label">Length</label>
                <input asp-for="Length" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Samplescollected" class="form-label">Samples Collected</label>
                <input asp-for="Samplescollected" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Dataexpertinitials" class="form-label">Data Expert Initials</label>
                <input asp-for="Dataexpertinitials" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Excavationrecorder" class="form-label"> Excavation Recorder</label>
                <input asp-for="Excavationrecorder" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Photos" class="form-label"> Photos</label>
                <input asp-for="Photos" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Burialmaterials" class="form-label"> Burial Materials</label>
                <input asp-for="Burialmaterials"  class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Dateofexcavation" class="form-label"> Date of Excavation</label>
                <input asp-for="Dateofexcavation" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Fieldbookexcavationyear" class="form-label"> Fieldbook Excavation Year</label>
                <input asp-for="Fieldbookexcavationyear" class="form-control" />
            </div>
        </div>
        <br />
    </div>
    <input type="submit" value="Submit" class="btn-dark btn" />
</form>
}
else if ((int)ViewData["Form"] == 2)
{
<form>
    <h1 class="mb-3 line"> Body Analysis  </h1>
    <div class="container-fluid row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label class="form-label"> Date of Examination</label>
                <input type="date" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Preservation Index</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Observations</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Robust</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Supra Orbital Ridges</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Orbit Edge</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Parietal Bossing</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Gonion</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Nuchal Crest</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Zygomatic Crest</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Sphenooccipital Synchrondrosis</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Lamboid Suture</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Squamos Suture</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Tooth Attrition</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Tooth Eruption</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Tooth Eruption Age Estimate</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Ventral Arc</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6">

            <div class="mb-3">
                <label class="form-label">Subpubic Angle</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Sciatic Notch</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Pubic Bone</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Preauricular Sulcus</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Medial_IP_Ramus</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Dorsal Pitting</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Femur</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Humerus</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Femur Head Diameter</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Humerus Head Diameter</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Femur Head Diameter</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Femur Length</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Humerus Length</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Tibia</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Estimate Stature</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Osteophytosis</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Caries_Periodontal_Disease</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Notes</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <br />
    </div>
    <input type="submit" value="Submit" class="btn-dark btn" />
</form>

}
else if ((int)ViewData["Form"] == 3)
{
    <form>
        <h1 class="mb-3 line"> Textile  </h1>
        <div class="container-fluid row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Burial Number</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Textile Id #</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Locale</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Estimated Period</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Sample Date</label>
                    <input type="date" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Photographed Date</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Direction</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn-dark btn" />
    </form>
}












