@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">

    <h1 class="display-4" style="font-family: Public Sans, Helvetica, Arial, sans-serif">Fag El Gamous</h1>
    <br />
    <div class="row">
        <div class="column">
            <img src="~/images/front.jpg" alt="Men in Egypt" style="width:100%">
        </div>
        <div class="column">
            <img src="~/images/front.jpg" alt="Men in Egypt" style="width:100%">
        </div>
        <div class="column">
            <img src="~/images/front.jpg" alt="Men in Egypt" style="width:100%">
        </div>
    </div>
    <br />
    <div class="formoutput">
        <p>
            Welcome to Fag El-Gamous, a website dedicated to Egyptian
            archeological discoveries! Feel free to explore the many incredible
            findings and information provided by BYU professors and students.
        </p>
        <p>
            Click <a href="https://egypt.byu.edu/p/Arcgis">here</a> to view a 3D
            rendering of the dig sites!
            <br />
            Click <a href="burial">here</a> to view all burials!
        </p>
    </div>





</div>
