@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mummy Prediction";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<h1 style="text-align:center">@ViewData["Title"]</h1>

<h3 style="text-align:center">Please input your data below to predict the head direction of the discovered mummy burial.</h3>
