/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    color: white;
    background-color: #002e5d;
    line-height: 60px; /* Vertically center the text there */
}

/*Kate's css add ons*/
.color-nav {
background-color: rgb(0, 46, 93);
font-family: "Public Sans", Helvetica, Arial, sans-serif;
font-size: medium;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.formoutput {
    padding: 10px;
    background-color: #002e5d;
    opacity:0.4;
    color:white;
    border-radius: 10px;
}

.line{
    text-align:center;
    border-bottom:solid;
    border-bottom-color: black;
}
.container1{
    float:left;
    width:48%
}
.container2{
    float:right;
    width:48%;
}
.padding{
    margin-bottom:30px;
}
.fagtitle {
    font-family: Public Sans, Helvetica, Arial, sans-serif;
}
.picwidth{
    width:100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 20% 30% 20%;
    padding: 10px;
}
.grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: left;
}

.data-title {
    font-weight: bold;
    padding-left: 30px;
}

/* Cookie styles
-------------------------------------------------- */
.cookie-consent {
    position: fixed;
    bottom: 8px;
    left: 20px;
    width: 30%;
    padding-top: 7px;
    height: 13%;
    color: #fff;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    background: #002e5d;
    z-index: 120;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
}

.allow-button {
    height: 25px;
    width: 35%;
    color: #002e5d;
    font-size: 14px;
    line-height: 10px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    margin: 2%;
}